@import '_base';

.education-edit {
  border-top: 2px solid silver;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 60%;

  h2 {
    margin-top: 1rem;
  }

  button {
    @include button;
    align-self: center;
  }

  form {
    border-radius: 6px;
    padding: 1rem;
    background: $main-bg-color;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      label {
        font-weight: 500;
      }

      input {
        width: 60%;
        border-radius: 4px;
        border: 1px solid gray;
        padding: 0.2rem;
        font-size: 1rem;
      }
    }
    button {
      align-self: flex-start;
    }
  }

  .education-unit {
    border-top: 2px solid silver;
    border-radius: 4px;
    padding: 0.5rem;
    background: $main-bg-color;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .education-unit-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.4rem;
    }

    button {
      align-self: flex-start;
      font-size: 0.9rem;
      padding: 0.3rem 0.6rem;

      &:hover {
        background: $btn-warn-color;
      }
    }
  }
}
