@import '_base';

.main-info-edit {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .field {
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;

    button {
      @include button;
      padding: 0.5rem 2rem;
    }
  }
}
